# Data analyzing

From the database generated yesterday, I generated a function to determinate the beneficiary population assigned from 0 to 4 years by UMF and answer the question if this data has changed along the last 10 years. I tried to import this database in SQL, but was taking a lot of time the process, so I decided generated a first table in python.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
beneficiarios = pd.read_csv('https://drive.google.com/file/d/1NNDyIZMv53ezZ_wLGNdB9djJ42mOuTAB/view?usp=share_link')
display(beneficiarios.head())
beneficiarios.shape

,level_0,index,cve_delegacion,cve_subdelegacion,id_umf_rp,nombre_umf_rp,st_tit_fam,id_calidad,cve_sexo,cve_rango_edad,st_consultorio,tot_casos,period,name_delegacion,name_subdelegacion,name_entidad
0,0,0,27,70,31,UMF 031,2,13,1,E10,1,28,2013-01-31,Sonora,Ciudad Obregón,Sonora
1,1,1,27,70,31,UMF 031,2,2,1,E25,1,1,2013-01-31,Sonora,Ciudad Obregón,Sonora
2,2,2,27,70,31,UMF 031,2,14,2,E4,1,6,2013-01-31,Sonora,Ciudad Obregón,Sonora
3,3,3,27,70,31,UMF 031,2,12,2,E23,1,8,2013-01-31,Sonora,Ciudad Obregón,Sonora
4,4,4,27,70,31,UMF 031,2,16,2,E10,1,2,2013-01-31,Sonora,Ciudad Obregón,Sonora

(6326782, 16)

In [3]:
beneficiarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6326782 entries, 0 to 6326781
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   level_0             int64
 1   index               int64
 2   cve_delegacion      int64
 3   cve_subdelegacion   int64
 4   id_umf_rp           int64
 5   nombre_umf_rp       object
 6   st_tit_fam          int64
 7   id_calidad          int64
 8   cve_sexo            int64
 9   cve_rango_edad      object
 10  st_consultorio      int64
 11  tot_casos           int64
 12  period              object
 13  name_delegacion     object
 14  name_subdelegacion  object
 15  name_entidad        object
dtypes: int64(10), object(6)
memory usage: 772.3+ MB

In [4]:
beneficiarios.isna().sum()

level_0               0
index                 0
cve_delegacion        0
cve_subdelegacion     0
id_umf_rp             0
nombre_umf_rp         0
st_tit_fam            0
id_calidad            0
cve_sexo              0
cve_rango_edad        0
st_consultorio        0
tot_casos             0
period                0
name_delegacion       0
name_subdelegacion    0
name_entidad          0
dtype: int64

In [5]:
nulls_df = pd.DataFrame(round(beneficiarios.isna().sum()/len(beneficiarios),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)

           header_name  percent_nulls
0              level_0            0.0
1                index            0.0
2       cve_delegacion            0.0
3    cve_subdelegacion            0.0
4            id_umf_rp            0.0
5        nombre_umf_rp            0.0
6           st_tit_fam            0.0
7           id_calidad            0.0
8             cve_sexo            0.0
9       cve_rango_edad            0.0
10      st_consultorio            0.0
11           tot_casos            0.0
12              period            0.0
13     name_delegacion            0.0
14  name_subdelegacion            0.0
15        name_entidad            0.0

In [6]:
beneficiarios.describe().T

,count,mean,std,min,25%,50%,75%,max
level_0,6326782.0,3.163390e+06,1.826385e+06,0.0,1581695.25,3163390.5,4745085.75,6326781.0
index,6326782.0,1.583048e+06,9.155322e+05,0.0,790847.25,1581695.0,2372542.75,3255917.0
cve_delegacion,6326782.0,1.957955e+01,1.080243e+01,1.0,12.00,18.0,27.00,40.0
cve_subdelegacion,6326782.0,1.850933e+01,2.132163e+01,1.0,2.00,9.0,33.00,80.0
id_umf_rp,6326782.0,4.461544e+01,4.696300e+01,1.0,12.00,33.0,60.00,250.0
st_tit_fam,6326782.0,1.812287e+00,3.904829e-01,1.0,2.00,2.0,2.00,2.0
id_calidad,6326782.0,9.413152e+00,6.200016e+00,1.0,2.00,13.0,14.00,40.0
cve_sexo,6326782.0,1.529580e+00,4.991243e-01,1.0,1.00,2.0,2.00,2.0
st_consultorio,6326782.0,9.725481e-01,1.633961e-01,0.0,1.00,1.0,1.00,1.0
tot_casos,6326782.0,1.757392e+01,7.543157e+01,1.0,2.00,6.0,16.00,34472.0

In [7]:
display(beneficiarios.columns)

Index(['level_0', 'index', 'cve_delegacion', 'cve_subdelegacion', 'id_umf_rp',
       'nombre_umf_rp', 'st_tit_fam', 'id_calidad', 'cve_sexo',
       'cve_rango_edad', 'st_consultorio', 'tot_casos', 'period',
       'name_delegacion', 'name_subdelegacion', 'name_entidad'],
      dtype='object')

In [11]:
d = beneficiarios.copy()
d = d[(d['st_tit_fam'] == 2) & (d['id_calidad'] >= 13) & (d['cve_rango_edad'].isin(['E0','E1','E2','E3'])) & (d['st_consultorio'] == 1)]
d_grouped = d.groupby(['period','name_entidad','name_delegacion','id_umf_rp', 'nombre_umf_rp','cve_sexo']).agg({'tot_casos':sum}).rename(columns={'tot_casos':'Total_casos'}).reset_index()
d_grouped

,period,name_entidad,name_delegacion,id_umf_rp,nombre_umf_rp,cve_sexo,Total_casos
0,2013-01-31,Aguascalientes,Aguascalientes,1,UMF 001,1,3722
1,2013-01-31,Aguascalientes,Aguascalientes,1,UMF 001,2,3541
2,2013-01-31,Aguascalientes,Aguascalientes,2,UMF 002,1,866
3,2013-01-31,Aguascalientes,Aguascalientes,2,UMF 002,2,810
4,2013-01-31,Aguascalientes,Aguascalientes,3,UMF 003,1,870
...,...,...,...,...,...,...,...
4997,2023-01-31,Zacatecas,Zacatecas,52,UMF 052,2,122
4998,2023-01-31,Zacatecas,Zacatecas,55,UMF 055,1,3494
4999,2023-01-31,Zacatecas,Zacatecas,55,UMF 055,2,3351
5000,2023-01-31,Zacatecas,Zacatecas,57,UMF 057,1,1440
5001,2023-01-31,Zacatecas,Zacatecas,57,UMF 057,2,1453

In [12]:
# d_grouped.to_csv('../Data/cleaned/pda_children.csv', index=False)